
<div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" >
        <div class="container-fluid" id="nav-Bar">
            <div class="collapse navbar-collapse" >
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="items" >Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="items" (click)="ticketpage()">Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a class="items" (click)="logPage()">Logs</a>
                    </li>
                    <li class="nav-item">
                        <a class="items" (click)="logOutPage()">LogOut</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="GetAll">
    <div  *ngFor="let i of interns">
        <app-individual-intern [intern]="i"></app-individual-intern>
    </div>
</div>