<div style="margin-top: 150px;">
    <table>
        <tr>
            <td><label class="form-control">UserID</label></td>
            <td><input class="form-control" 
                required [min]="1" 
                type="number" 
                [(ngModel)]= "user.userId"
                #iname="ngModel"
                placeholder="Enter your ID">
            </td>
            <td>
                <span *ngIf="iname.touched && iname.invalid" class="alert alert-danger">
                    <span *ngIf="iname.errors?.['required']"> Id cannot be empty</span>
                    <span  *ngIf="iname.errors?.['min']">Should not be less than 1</span> 
                </span>
            </td>
        </tr>
        <tr>
            <td><label class="form-control">Password</label></td>
            <td><input class="form-control" type="text"
                required
                minlength="1"
                 [(ngModel)]="user.password"
                 #iname="ngModel"
                 placeholder="Enter your Password">
            </td>
            <td>
                 <span *ngIf="iname.touched && iname.invalid" class="alert alert-danger">
                    <span *ngIf="iname.errors?.['required']"> Password cannot be empty</span>
                    <span  *ngIf="iname.errors?.['minlength']">Password should be min 20 chars long</span> 
                 </span>
            </td>
        </tr>
        <tr>
            <td><button class="btn btn-success" (click)="addUser()">LogIN</button></td>
            <td><button class="btn btn-danger">Cancel</button></td>
        </tr>
        <tr>
            <td colspan="2">Don't have an Account</td>
        </tr>
        <tr>
            <td colspan="2"><button class="btn btn-success" (click)="register()">Register</button></td>
        </tr>
        <tr>
            <td colspan="2" *ngIf="toggle">Invalid Credentials</td>
        </tr>
    </table>
</div>
