tr,td{
    /* border: 1px solid black; */
    text-align: center;
    padding:10px;
}

table{
    width:800px;
    margin: auto;
}

label,input,select{
    font-size: 20px;
}

button{
    font-size: 20px;
}
body{
    background-color: #323232;
}