
<div *ngIf="toggleShownav">
  <nav class="navbar navbar-expand-lg bg-body-tertiary" >
  <div class="container-fluid" id="nav-Bar">
    <div class="collapse navbar-collapse" >
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-primary" (click)="Register()">Register</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary" (click)="login()">LogIn</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
<!-- <app-get-all-interns></app-get-all-interns> -->
<router-outlet></router-outlet>
<!-- <app-individual-intern></app-individual-intern> -->
<!-- <app-intern-ticket></app-intern-ticket> -->
