<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid" id="nav-Bar">
      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="active" >RaiseTicket</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary" (click)="logout()">LogOut</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<form [formGroup]="myForm" (ngSubmit)="raiseTicket()">
    <label class="form-control">Title</label>
    <input formControlName="heading" type="text" class="form-control">
    <label class="form-control">Description</label>
    <textarea formControlName="description" class="form-control" rows="3" cols="20"></textarea>
    <button class="btn btn-success">Create</button>
    <button class="btn btn-danger">Cancel</button>
</form>