
<div class="card" style="width: 25rem; margin: 7px; margin-top: 7px;">
    <div class="card-body">
      <h5 class="card-title"><span>Name:</span> {{intern.name}}</h5>
      <h5 class="card-title"><span>Date of Birth:</span> {{intern.dateOfBirth}}</h5>
      <h5 class="card-title"><span>Age:</span> {{intern.age}}</h5>
      <h5 class="card-title"><span>Gender:</span> {{intern.gender}}</h5>
      <h5 class="card-title"><span>Phone Number:</span>{{intern.phone}}</h5>
      <h5 class="card-title"><span>Email:</span> {{intern.email}}</h5>
      <a class="btn btn-danger" *ngIf="toggleButton else goto" (click)="changeStatus()">Not Approved</a>
      <ng-template #goto>
        <button class="btn btn-success" disabled>Approved</button>
      </ng-template>
    </div>
</div>