tr,td{
    /* border: 1px solid black; */
    text-align: center;
    padding:10px;
}

table{
    width:800px;
    margin: auto;
}

label,input,select{
    font-size: 20px;
}

input[type=date]:required:invalid::-webkit-datetime-edit {
    color: transparent;
}
input[type=date]:focus::-webkit-datetime-edit {
    color: black !important;
}
button{
    font-size: 20px;
}